body {
    
    background-color: #3cab2d;    
}

#section-initial {
    
    background-color: #F7DB6A;
}

#section-middle {
    
    background-color: #f7d54e;
}

#section-end {
    
    background-color: #EBB02D;
}

form {
    
    background-color:  #127601;
}

footer {
    
    background-color: #D864A9;
}